*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#message {
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd;
    background-color: #eee;
    margin: 50px auto;
}
#messageDiv {
    margin: 20px;
    font-size: 20px;
}
button {
    font-size: 20px;
    width: 100px;
    height: 40px;
    background-color: white;
    border-radius: 8px;
    margin: 20px 50px;
}